{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "curly": 2,
    "no-eval": 2,
    "no-console": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [2, {"args":"none"}],
    "no-inline-comments": 0,
    "camelcase": 0,
    "no-warning-comments": 0,
    "comma-dangle": [1, "always-multiline"],
    "arrow-parens": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
  }
}
